.App {
  text-align: center;
  color:rgb(235, 235, 235);
  font-family: 'Montserrat', sans-serif;
}

.Body {
  font-size: 25px;
}

.Header {
  font-size: 30px;
  padding-bottom:9%;
}

/* Remove number textfield arrows for most browsers */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove number textfield arrows for Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

